html {
    font-family: Lato, sans-serif;
}

body{
    box-sizing: border-box;
}

*, *::before, *::after {
    box-sizing: inherit;
}

.navbar {
    max-width: 640px;
    margin: 50px auto;
    padding: 0 20px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    font-size: 24px
}

.navbar__item {
    display: flex;
    align-items: center;
}

.navbar__logo {
    margin-right: 15px;
}

.navbar__brand {
    display: flex;
    align-items: center;
}


.navbar__navigation {
    display: flex;
    flex-direction: row;
    padding: 0;
    list-style: none;
    color: #5c6b70;
}

.navbar__navigation-item {
    margin-left: 50px;
}

.navbar__link {
    text-decoration: None;
    color: inherit;
}

.main {
    max-width: 450px;
    margin: 0 auto;
    padding:  0 20px
}

.form {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
}

.form__input {
    width: 100%
}

.form__label {
    display: block;
    margin-bottom: 10px;
}

.form__textarea{
    width: 100%;
    font-size: 10px;
    padding: 12px 20px;
    border: None;
    background-color: #f3f6f6;
    margin-bottom: 10px;
}

.form__submit {
    background-color: #3cd0ff;
    border: none;
    font-weight: bold;
    padding: 5px 30px;
    border-radius: 20px;
    color: white;
    cursor: pointer;
}

.form__submit:hover{
    background-color: #18c1e1;
}

.entry {

}
