<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Jinja2 Expressions</title>
  </head>
  <body>
    <ol>
      <li>{{ names[0] }}</li>
      <li>{{ names[1] }}</li>
      <li>{{ names[2] }}</li>
    </ol>
    <h3>Dictionary operation</h3>
    <p>Car details</p>
    <ul>
      <li>{{ car['name'] }}</li>
      <li>{{ car['model'] }}</li>
      <li>{{ car['year'] }}</li>
    </ul>
    <h3>Custom data structure operation</h3>
    <p>The four Galilean moons of jupiter are: </p>
    <ul>
      <li>{{ moons.first }}</li>
      <li>{{ moons.second }}</li>
      <li>{{ moons.third }}</li>
      <li>{{ moons.fourth }}</li>
    </ul>
  </body>
</html>
